    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
        <img src="http://i.imgur.com/4uTdYFk.png" height="50">
          </div>
          <div class="col-md-9">
        <h1>robotlordbot</h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class="menu">
      <div class="container">
        <ul class="nav">
          <li><a href="#">Welcome</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    
    <div class="main">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2>Hello. My name is Frank Dutton, I design and build websites.</h2>
          </div>
        </div>
        <div class="row">
          <a href="#" class="btn">View my work</a>
        </div>
      </div>
    </div>

<div class="footer">
  <div class="container">
    <ul class="social_media"> 
      <li><a class="github" href="#">github</a></li> 
      <li><a class="linkedin" href="#">linkedin</a></li> 
      <li><a class="twitter" href="#">twitter</a></li> 
    </ul> 
    <p>&copy; 2015 robotlordbot</p>
  </div>
</div>